$color1: #4c5a43;
$color2: #7b8d75;
$color3: #837563;
$color4: #f0ecea;
$color5: #c0ae98;
.project {
  margin: 0 auto;
  padding: 7rem 3rem;
  max-width: 1400px;
}

.project1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  position: relative;

  .p1-data {
    display: flex;
    flex-direction: column;
    text-align: right;

    h3 {
      color: $color3;
      line-height: 2rem;
      font-size: 1.45rem;
      // padding-bottom: 1rem;
    }

    .p1-tools {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 40px;
      right: 0;
      p {
        padding-left: 2rem;
        font-weight: 600;
        font-family: "Open Sans";
        color: $color3;
      }
    }
    .p1-detail {
      position: absolute;
      top: 60px;
      right: 0;
      width: 480px;
      height: 110px;
      background-color: $color4;
      color: $color2;
      z-index: 3;
      line-height: 1.75rem;
      font-size: 1rem;
      padding: 20px 20px 20px 0;
      border-radius: 4px;
      font-family: "Raleway";
    }
  }

  a {
    // opacity: 0.5;
    :hover {
      // opacity: 1;
      transform: scale(1.03);
      transition-timing-function: ease-in-out;
      transition-duration: 500ms;
    }
  }
  img {
    width: 500px;
    height: 280px;
    border-radius: 4px;
    box-shadow: 10px 10px 8px #888888;
  }

  .p1-icons {
    position: absolute;
    right: 0;
    bottom: 0px;
  }
}

.project2 {
  display: flex;
  justify-content: space-between;
  position: relative;

  .p2-data {
    display: flex;
    flex-direction: column;

    h3 {
      color: $color3;
      line-height: 2rem;
      font-size: 1.45rem;
      margin-top: 0.5rem;
    }

    .p2-tools {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      bottom: 55px;
      left: 0;
      p {
        padding-right: 2rem;
        font-weight: 600;
        font-family: "Open Sans";
        color: $color3;
      }
    }

    .p2-detail {
      position: absolute;
      top: 65px;
      left: 0;
      width: 480px;
      height: 52px;
      background-color: $color4;
      color: $color2;
      z-index: 3;
      line-height: 1.75rem;
      font-size: 1rem;
      padding: 16px 20px 20px 20px;
      border-radius: 4px;
      font-family: "Raleway";
    }

    .p2-icons {
      position: absolute;
      left: 0;
      bottom: 10px;
    }
  }

  a {
    // opacity: 0.5;
    :hover {
      // opacity: 1;
      transform: scale(1.03);
      transition-timing-function: ease-in-out;
      transition-duration: 500ms;
    }
  }
  .img-container {
    display: flex;
    justify-content: flex-end;

    img {
      width: 500px;
      height: 280px;
      border-radius: 4px;
      // box-shadow: 0px 4px 20px rgba(1, 10, 15, 0.9);
      box-shadow: 10px 10px 8px #888888;
    }
  }
}

.project-icons {
  width: 1.5rem;
  height: 1.5rem;
  color: $color2;

  :hover {
    color: $color3;
  }
}

.featured {
  color: $color2;
  font-family: "Open Sans";
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .project1 {
    img {
      width: 350px;
      height: 220px;
    }
    .p1-data {
      h3 {
        font-size: 1.35rem;
      }
      .p1-detail {
        width: 402px;
        height: 85px;
        font-size: 12px;
        padding: 5px 16px 5px 0;
      }
    }
  }
  .project2 {
    .img-container {
      img {
        width: 350px;
        height: 220px;
      }
    }
    .p2-data {
      .featured {
        margin-top: 0;
      }
      .p2-detail {
        padding: 5px 16px 12px 20px;
        width: 402px;
        height: 50px;
        font-size: 13px;
      }
    }
  }
}
